* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #d2bc20;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: 700;
}

body {
  background: url(../img/pexels-lucas-pezeta-5277392.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px #fff;
}

header ul {
  display: flex;
}

header ul li {
  padding: 10px;
}

.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}

.container .name h5 {
  font-size: 30px;
}

.about p {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
}

.form {
  width: 40%;
  margin: 0 auto;
}

.form input {
  width: 50%;
}

.form button {
  width: 15%;
}
